* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  cursor: default;
}
#game {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ccc;
}
#game .title {
  height: 30px;
  text-align: right;
  line-height: 30px;
  vertical-align: top;
  font-size: 15px;
  margin: 0 20px;
}
#game #ball-num {
  float: left;
}
#game #ball-num span {
  display: inline-block;
  vertical-align: middle;
}
#game #ball-num .ball-num-icon {
  width: 30px;
  height: 30px;
  background: url('../images/huaji.png') 0 0 / 30px 30px;
}